<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>{{title}}的首页</title>
	<link rel="stylesheet" href="css/Font-Awesome-3.2.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/index.css">
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<header>
		<div class="logo"></div>
		<ul class="ul-all">
			<!-- <li>首页</li>
			<li>个人</li>
			<li>朋友圈</li>
			<li class="drop-menu">状态
				<ul class="ul-drop">
					<li>在线</li>
					<li>离开</li>
					<li>隐身</li>
				</ul>
			</li> -->
			<li class="drop-menu">退出
				<ul class="ul-drop" id="ul-end">
					<!-- <li>切换账号</li> -->
					<a href="../login"><li>退出账号</li></a>
				</ul>
			</li>
		</ul>
		<form action="/index/searchrooms" method="get">
			<div class="search">
				<i class="icon-search">
					<input type="text" placeholder="请输入查询的内容……" name="roomname">
					<input type="text" name="uid" value="{{user.uid}}" style="display:none">
					<input type="submit" style="display:none">
				</i>
			</div>
		</form>

	</header>
	<div class="friends">
		<div class="fri-head" id="u_id" data-uid={{user.uid}} data-nick={{user.nickname}}>
			<div class="head-left">
				<img src="images/user.jpeg" width="100%" height="100%">
			</div>
			<div class="head-right">
				<span class="right-default right-name">{{user.nickname}}</span>
				<span class="right-default right-area">GuandDong , JieYang</span>
				<span class="right-default right-signature" title="45度角仰望天空，月亮代表我的心！Halo">45度角仰望天空，月亮代表我的心！Halo</span>
				<span class="right-default right-default"></span>
			</div>
		</div>
		<div class="statistics">
			<ul>
				<li><span id="stat-friends">0</span><span class="stat-default">Friends</span></li>
				<li class="middle-list">
					<span id="stat-rooms">
					{{#if rooms.length}}
						{{rooms.length}}
					{{else}}
						0
					{{/if}}
					</span>
					<span class="stat-default">Rooms</span>
				</li>
				<li><span id="stat-unread">0</span><span class="stat-default">Unread</span></li>
			</ul>
		</div>
		<div class="fri-main">
			<ul id="room-list">
				{{#each rooms}}
					<li data-roomid={{this.id}}>
						<div class="avatar" data-roomid={{this.id}}>
							<img src="images/user.jpeg" width="100%" height="100%" data-roomid={{this.id}}>
						</div>
						<div class="avatar-right" data-roomid={{this.id}}>
							<div class="avatar-default avatar-name" data-roomid={{this.id}}>
								<span id="rf-name" data-roomid={{this.id}}>{{this.roomname}}</span>
								<span id="rf-count" data-roomid={{this.id}}>(218人)</span>
							</div>
							<span class="avatar-default avatar-tag" title={{this.synopsis}} data-roomid={{this.id}}>{{this.synopsis}}</span>
						</div>
					</li>
			    {{/each}}
			</ul>
		</div>
	</div>
	<!-- talk-main必须在friends之后，否则布局 -->
	<div class="talk-main">
		<div class="talk-initial"></div>
		<div class="talk-main-table">
			<div class="talk-users">
				<ul id="user-list">
					<!-- <li>
						<i class="icon-user"></i>
						当前在线<span id="room-users-count">8</span>人
					</li>
					<li>
						<div class="talk-users-img">
							<img src="images/user.jpeg" width="100%" height="100%">
						</div>
						<span id="talk-users-nickname">大保健</span>
					</li>
					-->
				</ul>
			</div>
			<div class="talk-cs">
				<div class="talk-chating" id="anchor">
					<ul id="talk-chating-ul">
						<!-- <li>
							<div class="join-row"><span class="join">某某人 加入了聊天室</span></div>
						</li>
						<li>
							<div>
								<span>大保健</span>
								<span>我先来测试一下</span>
							</div>
						</li>-->
					</ul>
				</div>
				<div class="talk-sending">
					<div class="talk-tools">
						<!-- <i class="icon-laptop"></i>
						<i class="icon-camera-retro"></i>
						<i class="icon-trash"></i>
						<i class="icon-heart"></i>
						<i class="icon-eye-open"></i> -->
					</div>
					<div class="talk-editor">
						<textarea id="content-area" wrap="hard"></textarea>
						<button id="btn-sending">
							<i class="icon-ok"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>
