<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="css/searchroom.css">
	<title>搜寻{{title}}的结果</title>
</head>
<body>
	<div class="results-main">
		<ul id="rooms-ul" data-uid={{uid}}>
			{{#each results}}
				<li>
					<div class="room-img"></div>
					<span class="room-name">{{this.roomname}}</span>
					<span>简介：暂无</span>
					<span class="room-add" onselectstart="return false" data-rid={{this.id}}>加入</span>
					<div class="clear"></div>
				</li>
		    {{/each}}
			<div class="clear"></div>
		</ul>
	</div>
	<script src="/js/bjax.js"></script>
	<script type="text/javascript">
		document.getElementById("rooms-ul").onclick = function(event) {
			var e = event || window.event;
			var target = e.srcElement || e.target;

			var rid = target.dataset.rid || target.getAttribute("data-rid");
			var uid = this.dataset.uid || this.getAttribute("data-uid");

			if(rid && uid) {
				var data = {uid: uid, rid:rid};
				console.log(data)
				bjax.chain()
				    .setURL("/index/addroom")
				    .setType("POST")
				    .setData("uid="+uid+"&rid="+rid)
				    .setAsync(true)
				    .tab(console.log) // 这里将在控制台打印当前设置好的数据的object
				    .success(function(data) {
				    	if(data == "ok") {
				    		window.location.href = "/index";
				    	}else {
				    		console.log("falied");
				    	}
				    })
				    .start();
			}
		}
	</script>
</body>
</html>
